.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: #a31616;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,.25);
    margin: 0px;
    z-index: 10;
  }

  .header span{
    background-color: #b94517;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: 700;
  }
  
  .header h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  .headerButton {
    cursor: grab;
    font: inherit;
    border: none;
    background-color: #4d1601;
    color: #fff;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: 700;
  }
  
  .summary {
    text-align: center;
    margin: 200px auto 40px;
    max-width: 45rem;
    width: 90%;
    position: relative;
    background-color: #383838;
    color: #fff;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0 1px 8px 8px rgba(10, 10, 10, 0.288);
  }
  
  